body{
    font-family:'digital-clock-font';
    src: url('put_the_location_to_your_font.ttf or .otf');
}
.container{
    text-align: center;
    background-color: rgb(50, 50, 50);
    width: 400px;
    margin: 50px auto;
    border-radius: 20px;
    padding: 20px 0px;
    box-shadow: 5px 10px 12px 0px rgb(0, 0, 0);
    position: relative;
}
table{
    margin: auto;
    margin-bottom: 20px;
}
input{
    font-size: 32px;
    border-radius: 10px;
    height: 80px;
    margin: 15px auto 70px auto;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(206, 223, 206);
    width: 340px;
    text-align: end;
    
}
button{
    font-size: 30px;
    width: 70px;
    height: 60px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px 0px rgb(0, 0, 0);
}
button:hover{
    background-color: rgb(151, 151, 151);
}
.clear button{
    position: absolute;
    top: 110px;
    right: 33px;
    width: 100px;
    height: 50px;
    background-color: rgb(89, 200, 89);
}
.clear button:hover{
    background-color: rgb(0, 161, 43);
}
button.equal{
    background-color: rgb(255, 166, 0);
}
button.equal:hover{
    background-color: rgb(236, 134, 0);
}
