@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Sriracha&display=swap');

@font-face{
    font-family:'digital-clock-font';
    src: url('digital-7.ttf');
   }
   
*{
    margin: 0;
}
i.material-icons{
    font-size: 36px;
}

.no-use{
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
}
.container{
    text-align: center;
    background: -webkit-linear-gradient(left, rgb(46, 46, 46), rgb(41, 41, 41), rgb(36, 36, 36), rgb(31, 31, 31));
    width: 367px;
    margin: 50px auto;
    border-radius: 20px;
    padding: 20px 0px;
    box-shadow: 5px 10px 12px 0px rgb(0, 0, 0);
    position: relative;
    z-index: 9;
}
table{
    margin: auto;
    margin-bottom: 0px;
    
}
input{
    font-size: 62px;
    border-radius: 10px;
    height: 90px;
    margin: 0px auto 70px auto;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(206, 223, 206);
    width: 340px;
    text-align: end;
    font-family:'digital-clock-font'
}
button{
    font-size: 32px;
    width: 70px;
    height: 60px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px 0px rgb(0, 0, 0);
    font-family: 'Kdam Thmor Pro', sans-serif;
     user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
 
   
}
button:hover{
    background-color: rgb(199, 199, 199);
}
.clear button{
    position: absolute;
    top: 125px;
    right: 18px;
    width: 100px;
    height: 50px;
    background-color: rgb(89, 200, 89);
}
.clear button:hover{
    background-color: rgb(0, 161, 43);
}
.backspace button{
    position: absolute;
    top: 125px;
    left: 20px;
    height: 50px;
    font-size: 35px;
}
button.equal{
    background-color: rgb(255, 150, 0);
}
button.equal:hover{
    background-color: rgb(236, 134, 0);
}



@media (max-width: 500px){
    body{
           font-size: 70%;   
    }
        
}
